{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
	<form action="{{ url_for('login') }}" method="post">
        <dl>
            <dd>{{ form.hidden_tag() }}</dd>
            <dt>{{ form.email.label }}</dt>
            <dt>{% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}</dt>
            <dd>{{ form.email }}</dd>
            <dt>{{ form.password.label }}</dt>
            <dt>{% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}</dt>
            <dd>{{ form.password }}</dd>
        </dl>
        {{ form.submit() }}
	</form>
{% endblock %}